@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: #23252c;
  font-family: 'Inter', sans-serif;
}

.card {
  border: 1px;
  margin: auto;
  width: 317px;
  height: 780px;
  border-radius: 8px;
}

.header {
  text-align: center;
}

.header-image {
  height: 317px;
  width: 317px;
}

.header-name {
  color: #ffffff;
  font-size: 25px;
}

.header-job {
  color: #f3bf99;
  font-size: 12.8px;
}

.header-website {
  color: #ffffff;
  font-size: 10.24px;
}

.btn {
  text-decoration: none;
  display: inline-flex;
  margin-left: 5px;
}

.btn-el {
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 100px;
  margin-right: 10px;
}

.btn-li {
  background-color: #5093e2;
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 100px;
}

.btn-text1,
.btn-text2 {
  text-decoration: none !important;
  font-size: 10px;
}

.btn-text1 {
  color: #374151;
}

.btn-text2 {
  color: #ffffff;
}

.btn-img {
  padding: 7px 5px 0 0;
  height: 12.8px;
  width: 9.6px;
}

.content {
  color: #ffffff;
  font-size: 10.24px;
  padding: 0 35px 30px 35px;
}

.content-head1 {
  font-size: 16px;
}

.content-head2 {
  font-size: 16px;
}

.color-card {
  background-color: #1a1b21;
}

.footer {
  background-color: #161619;
  text-align: center;
}

.icon {
  padding: 10px 15px 10px 15px;
}
